<style>
	.container { width: 800px; font-family: Arial, Helvetica, sans-serif;
	display: flex; align-items: center; flex-direction: column; }

</style>

<div class='container'>
	<img src='https://i.imgur.com/oUAKMC5.png' />
	<span>Oi, {{name}}</span>

	<br />

	<span>Você solicitou a alteração de senha.</span>
	<span>Para realizar a troca, clique no link
		<a href={{link}}>{{link}}</a>
	</span>

	<span>Caso não tenha solicitado a alteração de senha, ignore este email.</span>

	<h3>Equipe | <strong>Rentx</strong></h3>
</div>